h1 {
    color: #312C2B;
}

.navbar {
    height: inherit;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

.title {
    margin-bottom: 45px;
}

.title h1 {
    font-size: 6vw;
    line-height: 100%;
    margin-bottom: 20px;
}

.homeV3 {
    background-image: url("../../img/redsmoke.jpg");
    background-size: contain ;
    background-repeat: round;
    height: 90vh;
}

.home {
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.intro {
    width: 75%;
}

.menubar {
    background-color: black;
    color: whitesmoke;
    border-radius: 100px;
}