.username {
    font-family: 'Sansita Swashed', cursive;
}

.userjob {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.profile-card {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    min-height: 530px;
    width: 100%;
    margin: 50px 200px;
    position: relative;
}

.card-picture {
    height: 430px;
    width: 40%;
    background-color: black;
    position: absolute;
    bottom: 130px;
    left: 60px;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 12px -2px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 12px -2px rgba(0,0,0,1);
    box-shadow: 10px 10px 12px -2px rgba(0,0,0,1);
}

.card-text {
    height: 29rem;
    position: absolute;
    width: 65%;
    top: 30px;
    right: 60px;
    /* padding: 30px 5% 30px 23%; */
    background: whitesmoke;
    -webkit-box-shadow: 10px 10px 14px -1px rgba(176,166,176,1);
    -moz-box-shadow: 10px 10px 14px -1px rgba(176,166,176,1);
    box-shadow: 10px 10px 14px -1px rgba(176,166,176,1);
}