/* .home {
  height: fit-content;
} */html {
	font-size: 100%;
}

/* HOME */

.logo-login {
  height: 85px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}

.logo-login button {
  /* margin-right: 60px; */
}

.logo {
  /* margin-left: 60px; */
}

.logo-login img {
  height: inherit;
}

/* .login-btn {
  height: inherit;
  background-color: white;
} */

.login-btn span {
  padding-left: 10px;
}

#login-icon {
  height: 30px;
}

/******** HEADER ****************/

.header {
  height: 600px;
}

.header img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.header-text {
  font-family: 'EB Garamond', serif;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin-right: 70px;
  font-size: 1.4em;
  font-weight: bold;
}

/******** HOME FORMS *****************/

.rg-form {
  height: 300px;
  /* background-color: teal; */
}

.register {
  height: 75%;
  margin: 15px 10%;
  background-color: #C4C4C4;
  position: relative;
  top: 7%;
  padding: 30px;
}

.search-box {
  height: 300px;
  /* background-color: tomato; */
}

.search {
  height: 75%;
  margin: 15px 10%;
  background-color: #C4C4C4;
  position: relative;
  top: 7%;
  padding: 30px;
}

.search p {
  margin: 0 0 30px;
}

#title-form {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
}

.div-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-searchbar {
  display: flex;
  justify-content: center;
}

/********DASHBOARD**********/

.dashboard {
  margin-bottom: 20px;
}

/* PROFILE */

.profile-header {
  min-height: 300px;
  background: lightgray;
  display: flex;
}

/* .profile-picture {
  position: relative;
  top: 11%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  border-radius: 50%;
  height: 16em;
  width: 16em;
  background-color: lightgreen;
  border: solid 3px darkred;
} */

.profile-picture {
  border-radius: 50%;
  height: 16em;
  width: 16em;
  background-color: lightgreen;
  border: solid 3px darkred;
}

.presentation {
  padding-top: 30px;
}

.presentation div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 50px;
}

.name p {
  font-size: 3.5em;
  border: solid darkred;
  padding: 10px;
}

.job p {
  font-size: 2em;
}

.name-job {
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-job div {
  margin-bottom: 30px;
}

/********PROFILE BUTTONS*********/

#profile-btns {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 0;
}

#profile-btns button {
  margin-left: 5px;
}

.availability {
  background: darkred;
  color: white;
  font-weight: 500;
}

.avb-list {
  display: inline-flex;
  list-style-type: none;
  width: 100%;
  margin-top: 14;
  margin-bottom: 14px;
}

.ul-mg {
  margin-top: 14px;
  margin-bottom: 14px;
}

.avb-list li {
  padding-left: 10px;
  padding-right: 10px;
}

/********RESUME 1********/

.resume div {
  margin-bottom: 20px;
}

.resume-1 {
  min-height: 200px;
  /* background: lightpink; */
}

.work-env {
  min-height: 100px;
  /* background: lightcoral; */
}

.tools {
  min-height: 100px;
  /* background: lightcoral; */
}

.key-words {
  min-height: 100px;
  /* background: lightcoral; */
}

/**********RESUME 2*********/

.resume-2 {
  min-height: 200px;
  /* background: lime; */
}

.skills {
  min-height: 200px;
  /* background: rebeccapurple; */
}

.projects {
  min-height: 200px;
  /* background: rebeccapurple; */
}

/************DASHBOARD**************/

.db-title {
  height: 8em;
  background: lightgray;
}

.db-infos {
  min-height: 500px;
  background: crimson;
  margin-top: 50px;
}

.db-menu {
  /* height: 6em; */
  background: darkslategrey;
  margin: 15px;
  color: white;
}

.db-menu ul {
  /* display: flex; */
  padding: 0;
  margin-bottom: 0;
}

.db-menu ul li {
  list-style-type: none;
  padding: 20px;
}

.ul-menu {
  display: flex;
}

.ul-menu li {
  cursor: pointer;
}

.width-3 {
  width: calc(100% / 3);
}

/********SECTIONS***********/

.render-infos {
  /* min-height: 200px; */
  /* background: lightgreen; */
  margin: 15px;
}

.render-infos form {
  padding: 0 15%;
}

.nb-input {
  width: 40px;
}

#input-h {
  height: 24px;
}

/*******TOOL*****/

.align-x {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp-flex {
  display: flex;
}

.red-udl {
  border-bottom: solid darkred;
}

label {
  font-weight: 400;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.mg-bt-5 {
  margin-bottom: 5px;
}

@media only screen and (max-width: 400px) {
  .span-login {
    display: none;
  }
}