/* .home {
  height: fit-content;
} */

/* HOME */

.logo-login {
  height: 85px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.logo-login button {
  margin-right: 60px;
}

.logo {
  margin-left: 60px;
}

.logo-login img {
  height: inherit;
}

.login-btn {
  height: inherit;
}

.login-btn span {
  padding-left: 10px;
}

#login-icon {
  height: 30px;
}